<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Nothing to see here. Feed me client connections! (๑ᵔ⤙ᵔ๑)</p>
  </body>
</html>
